*   {
    font-family: cursive;
}

#azure  {
    background-color: black;
    color:white;
}

.perv   {
    color: #ffffff;
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic;
}

h3{
    color:rebeccapurple;
    background-color: cornflowerblue;
    text-decoration: underline;
    text-align: end;
}